body {
    font-family: 'ubuntu';
    font-size: 1.48vh;
    font-weight: 400;
    color: #333333;
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
}

@font-face {
    font-family: "ubuntu";
    src: url('../../utils/fonts/Ubuntu.ttf');
}

@font-face {
    font-family: "ubuntu-m";
    src: url('../../utils/fonts/Ubuntu-Medium.ttf');
}

* {
    font-family: 'ubuntu';
    user-select: none;
    -webkit-user-drag: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

::selection {
    color: white;
    background: #ff7675;
}

::-webkit-selection {
    color: white;
    background: #ff7675;
}

::-moz-selection {
    color: white;
    background: #ff7675;
}

.main-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-wrapper-inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url(../images/bg2.png);
    background-position: left;
    background-size: cover;
    /* linear-gradient(90deg, rgb(0, 41, 255,0.4) 3%, rgba(255,255,255,0) 25%); */
    width: 80vh;
}

.header-area {
    padding-top: 3.43vh;
    padding-right: 4.72vh;
    padding-bottom: 3.7vh;
    text-align: right;
}

.header-area img {
    max-width: 7.5vh;
}


/*=== hat area start ===*/

.hat-area {
    padding-left: 6.48vh;
    padding-bottom: 2.78vh;
    margin-top: auto;
    margin-bottom: auto;
}

.hat-area-inner {
    display: flex;
    align-items: center;
    margin-bottom: 3.7vh;
}

.hat-area-inner2 {
    background: #0DAAFF;
    border: 0.09vh solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    box-shadow: 0vh 0vh 1.94vh #0DAAFF;
    border-radius: 0.56vh;
    width: 4.07vh;
    height: 4.07vh;
    flex: 0 0 4.07vh;
    margin-right: 1.57vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hat-area-inner h2 {
    font-weight: 700;
    font-size: 2.22vh;
    color: #FFFFFF;
    text-shadow: 0vh 0vh 0.37vh rgba(0, 0, 0, 0.2);
    margin: 0 0 0.28vh;
}

.hat-area-inner p {
    font-weight: 400;
    font-size: 1.48vh;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0vh 0vh 0.37vh rgba(0, 0, 0, 0.2);
    margin: 0;
}

.hat-area-inner3 {
    /* max-width: 45.09vh; */
    display: flex;
    align-items: flex-start;
}

.hat-item {
    width: 25vh;
    padding-right: 2.31vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hat-item-inner {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
    border: 0.09vh solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    border-radius: 0.56vh;
    flex: 0 0 calc(50% - 0.46vh);
    max-width: calc(50% - 0.46vh);
    padding: 1.76vh 0 0.65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 8.7vh;
    margin-bottom: 0.93vh;
    transition: all 0.5s;
    max-width: 12vh;
}

.hat-item-inner:hover {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
}

.hat-item-inner .image {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5vh;
}

.hat-item-inner.active {
    background: #0DAAFF;
    box-shadow: 0vh 0vh 0.93vh #0DAAFF;
}

.hat-item-inner img {
    max-width: 100%;
}

.hat-item-inner p {
    font-weight: 400;
    font-size: 1.67vh;
    color: #FFFFFF;
    opacity: 0.3;
    text-shadow: 0vh 0vh 0.37vh rgba(0, 0, 0, 0.2);
    margin: 0;
}

.hat-item-inner.active p {
    opacity: 1;
}

.hat-item2 {
    width: auto;
    min-width: 28vh;
    max-width: 28vh;
    padding-left: 2.31vh;
    border-left: 0.19vh solid rgba(255, 255, 255, 0.25);
}

.hat-item2-inner {
    display: flex;
    flex-wrap: nowrap;
    height: 56.67vh;
    overflow: auto;
    padding-right: 1.2vh;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    overflow: overlay;
    padding-left: 0.5vh;
    transition: all 0.5s;
}

.hat-item2-inner div img {
    width: 100%;
    height: 8.7vh;
}

.hat-item2-inner2 {
    padding-right: 1.94vh;
    margin-top: 4.35vh;
}

.hat-item2-inner2 h3 {
    font-family: 'ubuntu';
    font-weight: 500;
    font-size: 1.67vh;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    text-shadow: 0vh 0vh 0.37vh rgba(0, 0, 0, 0.2);
    margin: 0 0 0.93vh;
}

.hat-item2-inner3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.93vh;
}

.hat-item2-inner3 p {
    font-weight: 400;
    font-size: 1.48vh;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0vh 0vh 0.37vh rgba(0, 0, 0, 0.2);
    margin: 0;
}

.for-line {
    width: 0.74vh;
    height: 0.09vh;
    background: rgba(255, 255, 255, 0.25);
}

.for-line2 {
    width: 8.98vh;
    height: 0.09vh;
    background: rgba(255, 255, 255, 0.25);
}

.hat-item2-inner3 h2 {
    font-weight: 700;
    font-size: 1.48vh;
    color: #8DD85F;
    text-shadow: 0vh 0vh 0.37vh rgba(0, 0, 0, 0.2);
    margin: 0;
}

.hat-item2-inner3 h2 span {
    font-family: 'ubuntu';
    font-weight: 400%;
}

.hat-item2-inner2>a {
    font-weight: 700;
    font-size: 1.3vh;
    color: #FFFFFF;
    text-shadow: 0vh 0vh 0.37vh rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 3.89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0DAAFF;
    border: 0.09vh solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    box-shadow: 0vh 0vh 0.83vh #0DAAFF;
    border-radius: 0.28vh;
    margin-top: 2.5vh;
    transition: .2s all ease;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
}

.hat-item2-inner2>a:hover {
    opacity: .8;
}

.hat-item-elem {
    position: relative;
    width: 23vh;
    height: auto !important;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
    border-radius: 0.5vh;
    margin-bottom: 0.5vh;
    color: #ffff;
    padding: 1.5vh 0.5vh;
    font-size: 1.4vh;
    transition: all 0.5s;
    padding-left: 1vh;
    padding-right: 1vh;
}

.hat-item-elem:hover {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
}

.hat-item-elem.active {
    background: #0DAAFF;
    box-shadow: 0vh 0vh 0.93vh #0daaff;
}

::-webkit-scrollbar {
    background: rgba(56, 86, 130, 0.17);
    border: 0.07651109410864575vh solid rgba(255, 255, 255, 0.04);
    width: 0.612088752869166vh;
    border-radius: 0.22953328232593725vh;
}


/* background of the scrollbar except button or resizer */

::-webkit-scrollbar-track {
    background: rgba(56, 86, 130, 0.17);
    border: 0.07651109410864575vh solid rgba(255, 255, 255, 0.04);
    border-radius: 0.22953328232593725vh;
}


/* scrollbar itself */

::-webkit-scrollbar-thumb {
    background-color: #0DAAFF;
    border-radius: 0.22953328232593725vh;
}

.hat-item2-color-inner2 {
    margin-top: 3.35vh;
}

.hat-item2-color-inner2 h3 {
    font-family: 'ubuntu';
    font-weight: 500;
    font-size: 1.67vh;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    text-shadow: 0vh 0vh 0.37vh rgb(0 0 0 / 20%);
    margin: 0 0 0.93vh;
}

.hat-item2-inner4-slider {
    position: relative;
    width: 21vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
    border-radius: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

#close {
    font-size: 2.5vh;
    color: #fff;
    display: none;
}

#shirt {
    font-size: 1.8vh;
    color: #fff;
}

.player-rotation-box {
    position: absolute;
    width: 40vh;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
    border-radius: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

.player-animations-box {
    position: absolute;
    width: 25vh;
    height: 50vh;
    background: #0000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.player-animations-box button {
    position: absolute;
    width: 25vh;
    height: 50vh;
    border: none;
    outline: none;
    background: #0000;
}