@font-face {
    font-family: "regular";
    src: url('../utils/fonts/SFProDisplay-Regular.ttf');
}

@font-face {
    font-family: "medium";
    src: url('../utils//fonts/SFProDisplay-Medium.ttf');
}

@font-face {
    font-family: "semi-bold";
    src: url('../utils//fonts/SFProDisplay-Semibold.ttf');
}

@font-face {
    font-family: "bold";
    src: url('../utils//fonts/SFProDisplay-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
    font-family: "regular";
    list-style: none;
}

body {
    background-image: url(../../utils/img/edit-backgrounds/16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 96vh;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container .tattoo-positions {
    background: linear-gradient(125deg, rgba(27,27,27,1) 0%, rgba(0,0,0,1) 100%);
    padding: 2vh;
    border-radius: 0.5vh;
    width: 29.75vh;
}

.container .tattoo-positions .top {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.5vh;
    padding: 1vh;
    display: flex;
    align-items: center;
}

.container .tattoo-positions .top i {
    color: white;
    font-size: 2vh;
    margin-right: 1vh;
}

.container .tattoo-positions .top p.title {
    color: white;
    font-size: 1.4vh;
    font-family: "medium";
}

.container .tattoo-positions .top p.description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2vh;
}

.container .tattoo-positions .position-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .tattoo-positions .position-list .position {
    background-color: rgba(255, 255, 255, 0.05);
    width: 14vh;
    height: 10vh;
    border-radius: 0.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 2vh;
}

.container .tattoo-positions .position-list .position:hover img.position-image {
    opacity: 1;
}

.container .tattoo-positions .position-list .position:hover p.position-name {
    color: white;
}

.container .tattoo-positions .position-list .position img.position-image {
    width: 4vh;
    opacity: 0.5;
    margin-bottom: 0.75vh;
    transition: opacity 250ms;
}

.container .tattoo-positions .position-list .position p.position-name {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2vh;
    font-family: "medium";
    transition: color 250ms;
}

.container .tattoo-positions .position-list #active {
    background-color: #0daaff79;
    filter: drop-shadow(0vh 0vh 0.5vh #0daaff79);
}

.container .tattoo-positions .position-list #active img.position-image {
    opacity: 1 !important;
}

.container .tattoo-positions .position-list #active p.position-name {
    color: white;
    font-size: 1.2vh;
}

.container .middle-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.container .middle-bottom .slider-box {
    padding: 2vh;
    background: linear-gradient(125deg, rgba(27,27,27,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 0.5vh;
    width: 25vh;
}

.container .right .tattoo-selector {
    width: 26.5vh;
    background: linear-gradient(125deg, rgba(27,27,27,1) 0%, rgba(0,0,0,1) 100%);
    padding: 2vh 1vh 2vh 1vh;
    border-radius: 0.5vh;
}

.container .right .tattoo-selector .tattoo-list {
    display: flex;
    flex-direction: column;
    max-height: 38.5vh;
    overflow-y: scroll;
    padding-right: 1vh;
    padding-left: 1vh;
}

.container .right .tattoo-selector .tattoo-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5vh;
}

.container .right .tattoo-selector .tattoo-list::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5vh;
}

.container .right .tattoo-selector .tattoo-list::-webkit-scrollbar-thumb {
    background-color: #0daaff79;
    border-radius: 0.5vh;
}

.container .right .tattoo-selector .tattoo-list .tattoo-item {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.5vh;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vh;
    cursor: pointer;
}

.container .right .tattoo-selector .tattoo-list #active {
    background-color: #0daaff79;
    filter: drop-shadow(0vh 0vh 0.5vh #0daaff79);
}

.container .right .tattoo-selector .tattoo-list #active p.tattoo-price {
    color: white;
}

.container .right .tattoo-selector .tattoo-list #active p.tattoo-name {
    font-family: "medium";
}

.container .right .tattoo-selector .tattoo-list .tattoo-item:last-child {
    margin-bottom: 0vh !important;
}

.container .right .tattoo-selector .tattoo-list .tattoo-item img.tattoo-image {
    width: 6.5vh;
    filter: brightness(0) invert(1);
}

.container .right .tattoo-selector .tattoo-list .tattoo-item p.tattoo-name {
    color: white;
    font-size: 1.2vh;
}

.container .right .tattoo-selector .tattoo-list .tattoo-item p.tattoo-price {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1vh;
}

.container .right .buy-info {
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: 2vh;
}

.container .right .buy-info p.title {
    color: white;
    font-size: 1.3vh;
    margin-bottom: 0.5vh;
}

.container .right .buy-info p.tattoo-name {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 0.5vh;
}

.container .right .buy-info p.tattoo-price {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.container .right .buy-info p span.line {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    height: 0.15vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.container .right .buy-info button {
    -webkit-appearance: none;
    outline: none;
    border: none;
    height: 3.5vh;
    border-radius: 0.3vh;
    background-color: #0daaff79;
    filter: drop-shadow(0vh 0vh 0.5vh #0daaff79);
    margin-top: 1vh;
    width: 100%;
    font-family: "medium";
    font-size: 1.1vh;
    color: white;
}

.container .close {
    position: absolute;
    top: 0vh;
    right: 0;
    color: white;
    cursor: pointer;
    width: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5vh;
    background: linear-gradient(125deg, rgba(27,27,27,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 0.5vh;
    font-size: 2vh;
}

.container .close i {
    margin-top: 0.15vh;
}